/* src\styles\globals.css */
@import 'tailwindcss';

:root {
  /* Typography */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-extrabold: 800;
  --line-height-tight: 140%;
}

/* 스크롤바 숨김 */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* -------- Color Scale --------- */

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  /*-------- Semantic color ---------*/
  --color-success: #009126;
  --color-warning: #ef433e;
  /*-------- Magenta scale ---------*/
  --color-magenta-900: #96005a;
  --color-magenta-800: #bd0058;
  --color-magenta-700: #d8016f;
  --color-magenta-600: #e90075;
  --color-magenta-500: #f80078;
  --color-magenta-400: #ff0079;
  --color-magenta-300: #ff4093;
  --color-magenta-200: #ff80b3;
  --color-magenta-100: #fdbcd9;
  --color-magenta-50: #ffe1ed;
  --color-magenta-20: #ffeef6;
  /*-------- Gray scale ---------*/
  --color-gray-900: #131112;
  --color-gray-800: #242223;
  --color-gray-700: #484245;
  --color-gray-600: #645c5f;
  --color-gray-500: #847b7f;
  --color-gray-400: #b0a5aa;
  --color-gray-300: #cdc4c8;
  --color-gray-200: #e3dcdf;
  --color-gray-100: #f2edef;
  --color-gray-50: #f9f6f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  /*------ Typography scale -------*/
  .heading-1 {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }
  .heading-2 {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }
  .heading-3 {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }
  .heading-4 {
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
  }
  .body-1-medium {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }
  .body-1-bold {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }
  .body-1-semibold {
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
  }
  .body-2-medium {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }
  .body-2-bold {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }
  .caption-1-medium {
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }
  .caption-1-extrabold {
    font-size: 12px;
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-tight);
  }
  .caption-2-medium {
    font-size: 10px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }
  .caption-2-extrabold {
    font-size: 10px;
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-tight);
  }
  .date-text {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    color: var(--color-gray-500);
  }

  /*------ iPhone16 Container ------*/
  .iphone16-container {
    width: min(100%, 393px);
    background-color: var(--color-white);
    overflow: hidden;
  }

  .iphone16-container > .flex-1 > * {
    min-height: 100%;
    width: 100%;
  }

  /*-----border-bottom------*/
  .border-bottom {
    border-bottom: 1px solid var(--color-gray-100);
  }
}
