@import 'tailwindcss';

:root {
  /* Typography */
  --font-family-sans:
    var(--font-geist-sans), 'Inter', 'Helvetica Neue', Arial, sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-extrabold: 800;
  --line-height-tight: 140%;
}

@theme {
  /*-------- Black & White---------*/
  --color-black: #000000;
  --color-white: #ffffff;
  /*-------- Main color ---------*/
  --color-primary-main: #ff4093;
  --color-primary-light: #fdbcd9;
  --color-primary-extra-light: #ffeef6;
  --color-primary-dark: #d8016f;
  /*-------- Gray scale ---------*/
  --color-gray-900: #100f0f;
  --color-gray-800: #302f2f;
  --color-gray-700: #4e4d4d;
  --color-gray-600: #616060;
  --color-gray-500: #888787;
  --color-gray-400: #a9a8a8;
  --color-gray-300: #cecdcd;
  --color-gray-200: #e1e0e0;
  --color-gray-100: #eeeded;
  --color-gray-50: #f8f7f7;
  /*------ font -------*/
  --font-sans: var(--font-family-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-foreground: var(--color-gray-50);
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans);
  line-height: var(--line-height-tight);
}

/* 
 --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-extrabold: 800;

  --fs-heading-1: 24px;
  --fs-heading-2: 20px;
  --fs-body-1: 16px;
  --fs-body-2: 14px;
  --fs-caption-1: 12px;
  --fs-caption-2: 10px;
  --fs-caption-3: 10px;
*/
@layer utilities {
  /*------ Typography scale -------*/
  .heading-1 {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }

  .heading-2 {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }

  .body-1 {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }

  .body-2 {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }

  .caption-1 {
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }

  .caption-2 {
    font-size: 10px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }

  .caption-3 {
    font-size: 10px;
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-tight);
  }

  /*------ iPhone16 Container ------*/
  .ipone16-container,
  .iphone16-container {
    aspect-ratio: 393 / 852;
    width: min(100%, 393px);
    height: max(100%, 852px);
    margin: 16px;
    border: 1px solid;
    background-color: var(--color-white);
    border-color: var(--color-gray-200);
    overflow: hidden;
  }

  /* 스크롤은 되지만 스크롤바는 안 보이게 하는 공용 클래스 */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  /*-----border-bottom------*/
  .border-bottom {
    border-bottom: 1px solid var(--color-gray-100);
  }
}
