/* src\styles\globals.css */
@import 'tailwindcss';

/* 스크롤바 숨김 */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* ---------------------------------------------------
   Color 
--------------------------------------------------- */

:root {
  --background: #ffeef6;
  --foreground: #000000;
  --color-black: #000a19;
  --color-white: #ffffff;
  /*-------- Main color ---------*/
  --color-primary-main: #ff4093;
  --color-primary-light: #fdbcd9;
  --color-primary-extra-light: #ffeef6;
  --color-primary-dark: #d8016f;
  /*-------- Semantic color ---------*/
  --color-success: #009126;
  --color-warning: #ef433e;
  --color-notice: #d8016f;
  --color-info: #d8016f;
  /*-------- Magenta scale ---------*/
  --color-magenta-900: #96005a;
  --color-magenta-800: #bd0058;
  --color-magenta-700: #d8016f;
  --color-magenta-600: #e90075;
  --color-magenta-500: #f80078;
  --color-magenta-400: #ff0079;
  --color-magenta-300: #ff4093;
  --color-magenta-200: #ff80b3;
  --color-magenta-100: #fdbcd9;
  --color-magenta-50: #ffe1ed;
  --color-magenta-20: #ffeef6;
  /*-------- Gray scale ---------*/
  --color-gray-900: #100f0f;
  --color-gray-800: #302f2f;
  --color-gray-700: #4e4d4d;
  --color-gray-600: #616060;
  --color-gray-500: #888787;
  --color-gray-400: #a9a8a8;
  --color-gray-300: #cecdcd;
  --color-gray-200: #e1e0e0;
  --color-gray-100: #eeeded;
  --color-gray-50: #f8f7f7;

  /*------ font -------*/
  --font-sans: var(--font-family-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Typography System */
:root {
  /* Headings */
  --font-heading1-size: 24px;
  --font-heading1-weight: 700;
  --font-heading1-line-height: 140%;

  --font-heading2-size: 20px;
  --font-heading2-weight: 700;
  --font-heading2-line-height: 140%;

  /* Body */
  --font-body1-size: 16px;
  --font-body1-weight: 500;
  --font-body1-line-height: 140%;

  --font-body2-size: 14px;
  --font-body2-weight: 500;
  --font-body2-line-height: 140%;

  /* Captions */
  --font-caption1-size: 12px;
  --font-caption1-weight: 500;
  --font-caption1-line-height: 140%;

  --font-caption2-size: 10px;
  --font-caption2-weight: 500;
  --font-caption2-line-height: 140%;

  --font-caption3-size: 10px;
  --font-caption3-weight: 800;
  --font-caption3-line-height: 140%;
}
