/* src\styles\globals.css */
@import 'tailwindcss';

:root {
  /* Typography */
  --font-family-sans:
    var(--font-geist-sans), 'Inter', 'Helvetica Neue', Arial, sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-extrabold: 800;
  --line-height-tight: 140%;
}

/* 스크롤바 숨김 */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* ---------------------------------------------------
   Color 
--------------------------------------------------- */

:root {
  --background: #ffeef6;
  --foreground: #000000;
  --color-black: #000a19;
  --color-white: #ffffff;
  /*-------- Main color ---------*/
  --color-primary-main: #ff4093;
  --color-primary-light: #fdbcd9;
  --color-primary-extra-light: #ffeef6;
  --color-primary-dark: #d8016f;
  /*-------- Semantic color ---------*/
  --color-success: #009126;
  --color-warning: #ef433e;
  --color-notice: #d8016f;
  --color-info: #d8016f;
  /*-------- Magenta scale ---------*/
  --color-magenta-900: #96005a;
  --color-magenta-800: #bd0058;
  --color-magenta-700: #d8016f;
  --color-magenta-600: #e90075;
  --color-magenta-500: #f80078;
  --color-magenta-400: #ff0079;
  --color-magenta-300: #ff4093;
  --color-magenta-200: #ff80b3;
  --color-magenta-100: #fdbcd9;
  --color-magenta-50: #ffe1ed;
  --color-magenta-20: #ffeef6;
  /*-------- Gray scale ---------*/
  --color-gray-900: #100f0f;
  --color-gray-800: #302f2f;
  --color-gray-700: #4e4d4d;
  --color-gray-600: #616060;
  --color-gray-500: #888787;
  --color-gray-400: #a9a8a8;
  --color-gray-300: #cecdcd;
  --color-gray-200: #e1e0e0;
  --color-gray-100: #eeeded;
  --color-gray-50: #f8f7f7;

  /*------ font -------*/
  --font-sans: var(--font-family-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /*------ Typography scale -------*/
  .heading-1 {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }

  .heading-2 {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
  }

  .body-1 {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }

  .body-2 {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }

  .caption-1 {
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }

  .caption-2 {
    font-size: 10px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
  }

  .caption-3 {
    font-size: 10px;
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-tight);
  }

  /*------ iPhone16 Container ------*/
  .ipone16-container,
  .iphone16-container {
    width: min(100%, 393px);
    background-color: var(--color-white);
    overflow: hidden;
  }

  /* 스크롤은 되지만 스크롤바는 안 보이게 하는 공용 클래스 */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  /*-----border-bottom------*/
  .border-bottom {
    border-bottom: 1px solid var(--color-gray-100);
  }
}
