/* src\styles\globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 숨김 - 모든 브라우저 */
* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera */
  width: 0 !important;
  height: 0 !important;
}

html,
body {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

@layer components {
  .heading-1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  .heading-2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
  }

  .body-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }

  .body-2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  .caption-1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
  }

  .caption-2 {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
  }

  .caption-3 {
    font-weight: 800;
    font-size: 10px;
    line-height: 140%;
  }
}
